*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    min-height: 100vh;
    background-color: black;
}

h1{
    text-align: center;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to bottom right, rgb(162, 77, 7), rgb(245, 238, 238), green);
    /* to top, to bottom, to left, to top right, to bottom right ,to top left, to bottom left*/
}