*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background-image: url("https://img.magnific.com/free-photo/closeup-shot-beautiful-butterfly-with-interesting-textures-orange-petaled-flower_181624-7640.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 300px 150px;
    background-position: top right;
    
}