*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-1{
    font-size: 100px;
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-weight: bolder;
}

.container-2{
    font-size: 100px;
    font-weight: bolder;
    font-family: "Syne Tactile", system-ui;
}