*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
}

main{
    min-height: 100vh;
}

main .center{
    width: 100%;
    max-width: 1200px;
    min-height: inherit;
    margin: auto 0;
    border: 2px solid black;
    padding: 50px;
}

main .center .card{
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
}

main .center .card .profile{
    height: 200px ;
    border: 2px solid black;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
}

main .center .card .profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .center .info{
    padding: 10px 0 0 0;
}

main .center .info h2{
    letter-spacing: 2px;
    text-align: center;
}

main .center .info button{
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

